.jumbotron {
	text-align: center;

}
/*maybe change the size of the font with the size of the window?*/

canvas {
	width: 100px;
}

#score {
	color:#CDA34F;
	font-size: 8rem;
}

#navbar-brand {
	color:#B56357;
	font-size: 8rem;
}

.panel-body {
	text-align: center;
}

.panel-body#justify {
	text-align: justify;
}

.platforms img {
	border-radius: 10px;
	width: 190px;
	margin-top: 10px;
	margin-left: 50px;
	margin-right: 50px;

	}

img {
	width: 150px;
}	

#global-online-rep-score {
	color:#CDA34F;
	font-size: 4rem;
}

.platforms {
	text-align: center;
}



.btn-primary {
    color: #666666;
    background-color: #f5f5f5;
    border-color: transparent;
}

.btn-primary:hover, .btn-primary:active:hover {
    background-color: #e0e0e0;
}
.btn-primary:hover {
    color: #666666;
    background-color: #e0e0e0;
    border-color: rgba(0,0,0,0);
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #212121;
    background-color: #f5f5f5;
}

fieldset {
    padding: 0;
    margin-bottom: 50px;
    border: 0;
    min-width: 0;
}

a, a:hover, a:active {
	color:#666666;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus{
	-webkit-box-shadow:inset 0 -2px 0 #666666;
	box-shadow:inset 0 -2px 0 #666666}


.survey {
	text-align: center;
}
.form-list {
	text-align: left;
	display: inline-block;
}

.form-button {
	margin: 30px;
}

table {
	text-align: center;
}

th {
	text-align: center;
}

.you {
	color:#CDA34F;
	font-size: 2rem;
}

#img_tab {
	width: 60px;
	margin-right: 10px;
}

/* About page - Masonry layout i.e div coordinating like a brick wall */
.container {
	text-align: center;
}
#grid {
  text-align:center;
  margin: 0 auto;
}

/* clearfix */
#grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

#grid-item {
  float: middle;


}

section {
	text-align: center;
}

